---
import HomeLayout from "@layouts/HomeLayout.astro";
import Starfield from "@components/Starfield.jsx";

const pageTitle = "ETERNA'S ELYSIUM";
export const timestamps = true;

import timestamp from "@utility/timestamps.json";
import ShowTimestamps from "@components/Timestamps.jsx";

//const slug = Astro.url.pathname.split("/").filter(Boolean).pop();
const { created, updated, integrity } = timestamp[Astro.url.pathname] || {};
---

<HomeLayout>

	<Starfield client:load />

	<html lang="en">

		<head>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width" />
			<title>{pageTitle}</title>
		</head>

        <body>
            <main class="grid gap-8 p-8">

                <h1>{pageTitle}</h1>

                <ShowTimestamps created={created} updated={updated} integrity={integrity} client:load/>




            </main>
        </body>

    </html>
</HomeLayout>