---
import HomeLayout from "@layouts/EELayout.astro";
import CircuitBoardBackground from "@components/CircuitBoard.jsx";

const pageTitle = "ETERNA'S ELYSIUM";
export const timestamps = true;

import timestamp from "@utility/timestamps.json";
import ShowTimestamps from "@components/Timestamps.jsx";

//const slug = Astro.url.pathname.split("/").filter(Boolean).pop();
const slug = Astro.url.pathname.split("/").filter(Boolean).join("/");

const data = timestamp[slug];

//console.log("************************ debug **************************");
// console.log("slug length:", slug.length);
// console.log("key length:", Object.keys(timestamp)[0].length);
// console.log("slug stringified:", JSON.stringify(slug));
// console.log("key stringified:", JSON.stringify(Object.keys(timestamp)[0]));
//console.log("Data at slug:", timestamp[slug]);
const created = data?.created;
const updated = data?.updated;
const integrity = data?.integrity;
//console.log({ created, updated, integrity });

---

<HomeLayout>

	<CircuitBoardBackground client:load />

	<html lang="en">

		<head>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width" />
			<title>{pageTitle}</title>
		</head>

        <body>
            <main class="grid gap-8 p-8">

                <h1>{pageTitle}</h1>

                <ShowTimestamps created={created} updated={updated} integrity={integrity} client:load/>




            </main>
        </body>

    </html>
</HomeLayout>