---

import MobileMenu from '../components/Hamburger.jsx';
// define props here if needed
const { title } = Astro.props;

const baseClass = "px-4 py-2 rounded font-handjet transition";
const navItems = [
  { label: "Home", href: "/", className: `${baseClass} hover:text-red-500` },
  { label: "About", href: "/about", className: `${baseClass} text-red-400 hover:text-pink-500` },
  {
    label: "Projects",
    href: "/projects",
    className: `${baseClass} animated-gradient animated-gradient-hover text-light hover:text-purple-500`,
  },
];


---

<!-- <header>
  <nav class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
    <a href="/" class="text-2xl font-handjet tracking-wider hover:text-orange-300 transition">Home</a>
    <div class="space-x-6">
    <a href="/" class="animated-gradient animated-gradient-hover text-light px-4 py-2 rounded font-handjet hover:text-red-500 transition">
    Projects
    </a>


      <a href="/about" class="font-handjet hover:text-pink-500 transition">About</a>
      <a href="/blog" class="font-handjet hover:text-purple-500 transition">Blog</a>
    </div>
  </nav>
</header> -->

    <!-- non-sticky header -->
<!-- <header>
  <nav class="hidden md:flex gap-4"></nav> -->

  <!-- sticks to top of screen -->
<header class="sticky top-0 z-50 bg-black/70 backdrop-blur-md border-b border-white/10">
  <nav class="max-w-screen-xl mx-auto px-4 py-2 hidden md:flex gap-4">
   
    <!-- Desktop Nav -->
    {navItems.map(({ label, href, className }) => (
      <a href={href} class={className}>{label}</a>
    ))}
  </nav>

  <!-- Mobile -->
  <MobileMenu items={navItems} client:load />

</header>