---

import Header from '../components/Header.astro';
export const timestamps = true;
import timestamp from "@utility/timestamps.json";
import ShowTimestamps from "@components/Timestamps.jsx";
const slug = Astro.url.pathname.split("/").filter(Boolean).join("/");
const data = timestamp[slug];
const created = data?.created;
const updated = data?.updated;
const integrity = data?.integrity;

const { title } = Astro.props;
const { class: extraClass = '' } = Astro.props;
const combinedClass = `relative z-10 ${extraClass}`.trim();

---

<html lang="en" class="bg-black" style="background-color: #000000">
  <head>
    <Header />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>

  <main>
    <div class={combinedClass}>
      <ShowTimestamps created={created} updated={updated} integrity={integrity}/>
      <slot />
    </div>
  </main>
<footer>Writing footer</footer>
